@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DERS 4</title>
</head>
<body>
    <div style="background-color:darkgoldenrod">
        @DateTime.Now.ToShortDateString()
    </div>
    <br />
    <div style="background-color:#ffd800">
        @for (int i = 1; i <= 10; i = i + 2)
        {
            @i
        }
    </div>
    <br />
    <br />
    <div style=background-color:#4cff00>
        @{
            var liste = new List<string>() { "Ankara", "Bursa", "Adana", "İzmir" };
            int a = 0;
            string b = ".";
        }
        @foreach (var li in liste)
        {
            a++;
            @a @b @li;
            <br />
        }
    </div>
</body>
</html>
